.normal{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-content{
    padding: 1.5vw;
}

.footer-header{
    display: inline-flex;
    flex-direction: row;
}

.links{
    position: relative;
    width: 25vw;
    left: 60vw;
    justify-content: space-around;
}

#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid lightgray;
}